<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
  </system.web>
  <appSettings>
    <add key="Logging.ApplicationName" value="$customnamespace$"/>
    <add key="Logging.LogLevel" value="Trace"/>
    <add key="Logging.Endpoint" value="http://apis.qa-peinearydevelopment.local/Logging"/>
    <add key="Messaging.Endpoint" value="rabbitmq://messaging.qa-peinearydevelopment.local"/>
    <add key="Messaging.Username" value="guest"/>
    <add key="Messaging.Password" value="guest"/>
  </appSettings>
</configuration>